body{
    text-align: center;
}

.btn-container{
    height: 250px;
    width: 250px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    display: grid;
    
}
.positiontocontainer{
    display: flex;
    justify-content: center;
}
.btn{
    height: 100px;
    width: 100px;
    border: 4px solid black;
    border-radius: 20%;
}
.aqua{
    background-color:rgb(78,158,198);
}
.pink{
    background-color:rgb(183,102,156);
}
.brown{
    background-color: rgb(227,101,95);
}
.blue{
    background-color: rgb(189, 85, 25);
}
.flash{
    background-color: white;
}
.score{
    background-color: gold;

}
